{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Change password
      </div>
      <div class="card-body">
        <form method="post" action="../users/password_change_form.html">
          <input type="hidden" name="csrfmiddlewaretoken" value="">
          <div class="form-group row my-3 p-3">
            <label for="id_old_password">
              Old password
              <span class="required text-danger">*</span>
            </label>    
            <input type="password" name="old_password" autofocus class="form-control" required id="id_old_password">
          </div>
          <div class="form-group row my-3 p-3">
            <label for="id_new_password1">
              New password
              <span class="required text-danger">*</span>
            </label>    
            <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
              <small id="id_new_password1-help" class="form-text text-muted">
                <ul>
                  <li>
                    Your password should not match your name or any personal information or be too similar to it.
                  </li>
                  <li>
                    Your password must contain at least 8 characters.
                  </li>
                  <li>
                    Your password cannot be one of the commonly used passwords.
                  </li>
                  <li>
                    Your password cannot contain numbers only.
                  </li>
                </ul>
              </small>
          </div>
          <div class="form-group row my-3 p-3">
            <label for="id_new_password2">
              Confirm new password
              <span class="required text-danger">*</span>
            </label>    
            <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
          </div>
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Change password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}